<main class="main">

    <h2>解答・解説ページ</h2><br/>

<% @questions.each do |question| %>
  <div>
    <div>
      <%= question.title %><br/>
      問題.<%= question.content %><br/>
    </div>
    <div>
      A.<%= question.option1 %><br/>
      B.<%= question.option2 %><br/>
      C.<%= question.option3 %><br/>
      D.<%= question.option4 %><br/>
      <br/>
    </div>
    <div>
      <b>解答:</b><%= question.answer %><br/>
      <b>解説:</b><%= question.commentary %><br/>
      <br/>
    </div>
  </div>
<% end %>

</main>